<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.geeksreads">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:icon="@mipmap/logo_vertically"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_vertically"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity android:name=".ForgetPasswordActivity"/>
        <activity android:name=".SignOutActivity" />
        <activity android:name=".FeedActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>
        <activity android:name=".ChooseShelfActivity" />
        <activity android:name=".SideBarActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".Profile">

        </activity>
        <activity android:name=".Comments" />
        <activity android:name=".Reviews">

        </activity>
        <activity android:name=".BookActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                 <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

        <activity android:name=".MyBooksShelvesActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".OtherProfileActivity"
            android:parentActivityName=".Profile" />
        <activity
            android:name=".FollowActivity"
            android:parentActivityName=".Profile" />
        <activity
            android:name=".AuthorActivity"
            android:isScrollContainer="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".EditProfileActivity" />
        <activity
            android:name=".ReadBooksActivity"
            android:parentActivityName=".MyBooksShelvesActivity" />
        <activity
            android:name=".CurrentlyReadingActivity"
            android:parentActivityName=".MyBooksShelvesActivity" />
        <activity
            android:name=".WantToReadActivity"
            android:parentActivityName=".MyBooksShelvesActivity" />
        <activity android:name=".SearchHandlerActivity"
            android:windowSoftInputMode="stateVisible"/>
        <activity android:name=".SearchResultActivity"/>

        <service android:name=".NotificationService" />
    </application>

</manifest>