<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geeksreads">

    <application
        android:icon="@mipmap/logo_vertically"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_vertically"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignupActivity"/>
        <activity android:name=".BookActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".CurrentlyReadingActivity" />
        <activity android:name=".WantToReadActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".MyBooksShelvesActivity" />
        <activity android:name=".NotificationActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".SignupActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".EditProfileActivity" />
        <activity
            android:name=".ReadBooksActivity"
            android:parentActivityName=".MyBooksShelvesActivity" />
    </application>

</manifest>